#wikiwiki {
  display: inline-block;
  margin-top: 10px;
  width: 100%;
}

#wikiwiki #wikiwiki-left {
  float: left;
  padding: 0 1% 0 0;
  width: 24%;
}

#wikiwiki #wikiwiki-left ul {
  margin: 0;
}

#wikiwiki #wikiwiki-left li {
  background-color: #f0f0f0;
  background-position: 5px 8px;
  border-bottom: 1px solid #ccc;
  margin: 0 0 4px;
  padding: 2px 0 2px 18px;
}

#wikiwiki #wikiwiki-left li ul li.last {
  border-bottom: none;
}

#wikiwiki #wikiwiki-right {
  border-left: #ccc solid;
  float: left;
  padding: 0 0 4% 1%;
  width: 73%;
  word-wrap: break-word;
}

#wikiwiki-right h2.title {
  border-bottom: 1px #ccc solid;
  font-size: 30px;
  margin-bottom: 20px;
  width: 100%;
}

#wikiwiki-options {
  background: #eee;
  font-size: 10px;
  margin-bottom: 5px;
  padding: 2px 5px;
}

#wikiwiki-options a.active {
  background: #fff;
  color: #5895be;
  font-weight: bold;
  padding: 2px 5px;
}

#wikiwiki-search-box {
  background: #f0f0f0;
  display: inline-block;
  float: left;
  margin-bottom: 10px;
  padding: 2%;
}

#wikiwiki-search-box #edit-text-wrapper {
  float: left;
  margin: 0;
  width: 76%;
}

#wikiwiki-search-box #edit-text {
  border: 1px #ccc solid;
  height: 22px;
  padding: 2px 3%;
  width: 94%;
}

#wikiwiki-search-box #edit-submit {
  background: url(../img/search.png) no-repeat center center #4e4e4e;
  border: none;
  cursor: pointer;
  float: right;
  font-size: 0;
  height: 28px;
  margin: 0;
  width: 22%;
}

#wikiwiki-search-box #edit-submit:hover,
#wikiwiki-search-box #edit-submit:focus {
  background-color: #000;
}

#wikiwiki-link {
  display: inline-block;
  width: 100%;
}

.wikiwiki-search-result-row {
  border-bottom: 1px #ccc solid;
  margin-bottom: 5px;
  padding-bottom: 5px;
}
